{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Your account{% endblock %}

{% block content %}
    <div class="container margin_60_35">
        <div class="col-md-6 col-md-offset-3">
            <div class="box_style_2">
                <h2 class="inner">Password reset</h2>
                <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
