{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">

    <title>What's for lunch ?</title>

    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>

</head>
<body>
<div class="ui container">
    <h1 class="ui header" style="margin: 20px 0;">What's for lunch</h1>
    <div class="header clearfix hidden-print">
        <nav>
            <div class="ui pointing menu">
                <a class="item" href="/">Home</a>
                <a class="item add-static-tooltip"
                   title="Never miss frietjes again, get notified when someone starts an order!"
                   href="{% url 'notification-request-form' %}">Notifications</a>
                <div class="right menu">
                    <a class="item" href="/admin">Admin</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="ui segment">
        <p>
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger hidden-print">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ message.tags }} hidden-print">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% block jumbo %}
        {% endblock %}

        {% block content %}{% endblock %}

        </p>
    </div>

    <footer class="footer hidden-print">
        <p>&copy; Frietjes 2015 <span class="pull-right"><i
                class="glyphicon glyphicon-cutlery"></i> fork it on <a
                href="https://github.com/math2k/frietjes">GitHub</a></span></p>
    </footer>

</div>
<!-- /container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "semantic/semantic.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $('.price-toggle').click(function () {
            if ($(this).hasClass("active")) {
                $('.price').hide();
                $(this).removeClass('active');
            } else {
                $('.price').show();
                $(this).addClass('active');
            }
        });
        $('.add-tooltip').popup();
    });
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>
