{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>What's 4lunch.eu ?</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>

    <style>


    </style>
</head>
<body>
<div class="container">
    <div class="header clearfix hidden-print">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class=""><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li role="presentation" class="add-static-tooltip"
                        title="Never miss good lunch again, get notified when someone starts an order!"><a
                            href="{% url 'notifications' %}">Notifications</a></li>
                    <li role="presentation"><a href="{% url "auth_logout" %}?next=/">Logout</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url "registration_register" %}">Register</a></li>
                    <li role="presentation"><a href="{% url "auth_login" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted"><a href="https://whats.4lunch.eu" class="text-muted">What's for lunch ?</a></h3>
    </div>

    {% block jumbo %}
    {% endblock %}

    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger hidden-print col-xs-6 col-xs-offset-3 text-center">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }} hidden-print col-xs-6 col-xs-offset-3 text-center">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="row marketing">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer hidden-print">
        <p>&copy; Frietjes 2015 - <a href="/admin">admin</a> <span class="pull-right"><i
                class="glyphicon glyphicon-cutlery"></i> fork it on <a
                href="https://github.com/math2k/frietjes">GitHub</a></span></p>
    </footer>

</div>
<!-- /container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.price-toggle').click(function () {
            if ($(this).hasClass("active")) {
                $('.price').hide();
                $(this).removeClass('active');
            } else {
                $('.price').show();
                $(this).addClass('active');
            }
        });
        $('.add-tooltip').tooltip();
    });
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>
