{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
    <meta name="description" content="">
    <title>4lunch.eu - What's for lunch today ?</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic'
          rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

</head>

<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<!-- Header ================================================== -->
<header class="hidden-print">
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="/" id="logo">
                    <img src="{% static 'img/logo_mobile_2x.png' %}" width="59" height="23" alt="" data-retina="true"
                         class="hidden-xs">
                    <img src="{% static 'img/logo_mobile.png' %}" width="59" height="23" alt="" data-retina="true"
                         class="hidden-lg hidden-md hidden-sm">
                </a>
                <span class="hidden-xs subtitle">What's 4lunch ?</span>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="{% static 'img/logo.png' %}" width="190" height="23" alt="" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        {% if user.is_authenticated %}
                            <li role="presentation"
                                {% if show_notification_tooltip %}class="add-static-tooltip"{% endif %}
                                title="Never miss good lunch again, get notified when someone starts an order!"><a
                                    href="{% url 'notifications' %}">Notifications</a></li>
                            <li role="presentation"><a href="{% url "auth_logout" %}?next=/">Logout</a></li>
                        {% else %}
                            <li role="presentation" {% if show_account_tooltip %}class="add-static-tooltip"{% endif %}
                                data-placement='bottom' title="Create your account here!"><a
                                    href="{% url "registration_register" %}">Register</a></li>
                            <li><a href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>
                        {% endif %}
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
</header>
<!-- End Header =============================================== -->

<section class="parallax-window hidden-print" id="short" data-parallax="scroll"
         data-image-src="{% static "img/sub_header_short_2.jpg" %}" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>{% block page_title %}{% endblock %}</h1>
            <p>{% block page_title_text %}{% endblock %}</p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->

<div class="white_bg">

    {% block content %}{% endblock %}
</div><!-- End white_bg -->

<!-- Footer ================================================== -->
<footer class="hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <p>
                        © 4lunch 2016
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>

<footer class="hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <p>© Quick Food 2015</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->


{% block extra_js %}
{% endblock %}
<div class="modal fade" tabindex="-1" role="dialog" id="image-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="{% url 'auth_login' %}" method="post" class="popup-form" id="myLogin">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" name="username" class="form-control form-white" placeholder="Username">
                <input type="password" name="password" class="form-control form-white" placeholder="Password">
                <div class="text-left">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div><!-- End modal -->

<script src="{% static 'js/common_scripts_min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'assets/validate.js' %}"></script>
<script src="{% static 'jquery.noty.packaged.min.js' %}"></script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'scripts.js' %}"></script>
<script>
    {% for message in messages %}
        noty({
            text: "{{ message|safe }}",
            type: "{{ message.tags }}"
        });
    {% endfor %}
    {% if form.errors %}
        {% for field, msg in form.errors.iteritems %}
            noty({
                timeout: false,
                {% if field != '__all__' %}
                    text: '{{ field }}: {{ msg }}',
                {% else %}
                    text: '{{ msg }}',
                {% endif %}
                type: 'error'
            });
        {% endfor %}
    {% endif %}

</script>
</body>
</html>
