{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Your account{% endblock %}

{% block content %}

    <div class="container margin_60_35">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="box_style_2">
                    <h2 class="inner">
                        Password reset
                    </h2>
                    <div id="confirm">
                        <i class="icon_check_alt2"></i>
                        <h3>Your password has been set</h3>
                        <p>
                            You may go ahead and <a href="#0" data-toggle="modal" data-target="#login_2">login</a> now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
