{% extends "base.html" %}
{% load humanize %}

{% block page_title %}
    {% if user.is_authenticated %}
        Hi, hungry {{ user.username }}
    {% else %}
        What's for lunch today ?
    {% endif %}
{% endblock %}

{% block page_title_text %}
    {% if open_order %}
        <p>Some orders are open, make your choice below!</p>
    {% else %}
        <p>Sorry, no order is open at the moment.. <a href="{% url "admin:app_order_add" %}">create one yourself
            ?</a></p>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Content ================================================== -->
    <div class="container margin_60_35">

    <div class="main_title">
        <h2 class="nomargin_top" style="padding-top:0">How it works</h2>
        <p>
            It's so easy, even a cat could order food.<br/>
            <span style="font-size: 8px">but I hope they won't</span>
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box_home" id="one">
                <span>1</span>
                <div class="icon icon-search"></div>
                <h3>Find an open group order</h3>
                <p>
                    At one of the available places below.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="two">
                <span>2</span>
                <div class="icon icon-cursor"></div>
                <h3>Place your order</h3>
                <p>
                    Select your food in the menu.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="three">
                <span>3</span>
                <div class="icon icon-food"></div>
                <h3>Enjoy your food</h3>
                <p>
                    With your colleagues, or without.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="four">
                <span>4</span>
                <div class="icon icon-money-2"></div>
                <h3>Pay your order</h3>
                <p>
                    Pay the manager of the group order.
                </p>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-3">
            <div id="filters_col">
                <div class="filter_type">
                    <h5>Your orders</h5>
                    <hr style="margin-top: 0px;">
                    {% if user.is_authenticated %}
                        {% for uo in my_orders %}
                            <ul>
                                <li>
                                    <a href="{% url "user-order-view" user_order=uo.pk %}">
                                        {{ uo.order.date|date:"D j M" }}</a>
                                    <span class="pull-right">
                                    {% if uo.order.delivered %}
                                        <span class="label label-success">Delivered</span>
                                    {% endif %}
                                        {% if not uo.paid %}
                                            <span class="label label-danger">Not paid</span>
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                            {% empty %}
                            No orders
                        {% endfor %}

                    {% else %}
                        <p>Please <a href="#0" data-toggle="modal" data-target="#login_2">login</a> to view your orders
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
                {% for order in all_orders %}
                    <div class="col-md-6 col-sm-6  fadeIn" data-wow-delay="0.1s">
                        {% if request.user.is_staff %}
                            <span class="pull-right">
                                    <a href="{% url "admin:app_order_change" order.pk %}" class="add-tooltip"
                                       title="View order in admin">
                                        <i class="icon-pencil"></i>
                                    </a>
                                {% if order.userorder_set.all and order.open %}
                                    <a href="{% url "pick-random" o=order.pk %}" class="add-tooltip"
                                       title="Pick a random delivery person">
                                        <i class="icon-truck"></i>
                                    </a>
                                {% endif %}
                                    </span>
                        {% endif %}
                        <div class="strip_list grid">

                            <div class="desc">
                            <a href="{% url "order-view" order=order.pk %}">
                                <h3>
                                        {{ order.provider.name }}
                                </h3>
                                {% if order.provider.logo %}
                                    <div class="thumb_strip">
                                        <img src="{{ order.provider.logo.url }}" alt=""/>
                                    </div>
                                {% else %}
                                    <div class="thumb_strip">
                                        <i class="icon icon-shop-1" style="font-size: 70px; opacity: 0.5; vertical-align: middle"></i>
                                    </div>
                                {% endif %}
                            </a>
                                <div class="type">
                                    {{ order.date }}
                                </div>
                                <div class="location">
                                    {% if order.open %}
                                        {% if order.closing_time or order.delivery_time %}
                                            <div class="col-xs-6 text-left">
                                                {% if order.open and order.closing_time %}
                                                    <span class="opening">Order before
                                                        {{ order.closing_time|date:"H:i" }}</span>
                                                {% endif %}
                                                {% if order.open and order.delivery_time %}
                                                    <span class="">Expected delivery
                                                        {{ order.delivery_time|date:"H:i" }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="{% if order.open %}{% if order.closing_time or order.delivery_time %}col-offset-xs-3{% endif %}{% endif %} text-left">
                                        Delivered by:
                                        {% if order.delivery_person %}
                                            {{ order.delivery_person.username }}
                                        {% else %}
                                            {% if order.open %}
                                                you ?
                                            {% endif %}
                                        {% endif %}
                                        <br/>
                                        Current order: {{ order.total }}€
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div style="margin-top: 30px;">
                                    {% if order.open %}
                                        <a href="{% url "order" order=order.pk %}"
                                           class="btn btn-success btn-md">
                                            Order
                                        </a>
                                    {% else %}
                                        <span class="label label-danger">Closed</span>
                                        {% if order.has_unpaid_user_order %}
                                            <span class="label label-warning">Not fully paid</span>&nbsp;
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- End strip_list-->
                    </div><!-- End col-md-6-->
                {% endfor %}
            </div><!-- End row-->
        </div><!-- End row -->
    </div><!-- End container -->
{% endblock %}

{% block contentttt %}
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Orders</h3>
            {% for order in all_orders %}
                <div style="{% if not order.open %}opacity: 0.5{% endif %}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="{% url "order-view" order=order.pk %}">{{ order.provider.name }}
                                    on {{ order.date }}</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-6">
                                <i class="icon fa fa-user add-tooltip" title="Manager"></i>: {{ order.manager }}<br/>
                                <i class="icon fa fa-truck add-tooltip" title="Delivery"></i>:
                                {% if order.delivery_person %}
                                    {{ order.delivery_person.username }}
                                {% else %}
                                    {% if order.open %}
                                        you ?
                                        {% if request.user.is_staff and order.userorder_set.all|length > 0 %}
                                            <a href="{% url "pick-random" o=order.pk %}" class="btn btn-xs btn-primary">Pick
                                                at
                                                random</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}<br/>
                                <i class="icon fa fa-money add-tooltip" title="Total"></i>: {{ order.total }}€<br/>
                            </div>
                            <div class="col-xs-6" style="padding-right: 0;">
                                {% if order.closing_time %}
                                    <i class="icon fa fa-close add-tooltip" title="Order closing time"></i>:
                                    {{ order.closing_time }}<br/>
                                {% endif %}
                                {% if order.delivery_time %}
                                    <i class="icon fa fa-clock-o add-tooltip" title="Expected delivery time"></i>:
                                    {{ order.delivery_time }}<br/>
                                {% endif %}
                                {% if order.notes %}
                                    <i class="icon fa fa-pencil add-tooltip" title="Notes"></i>: {{ order.notes }}<br/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-footer text-right" style="padding: 5px 15px">
                            <div class="">
                                {% if order.open %}
                                    <div class="btn-group">
                                        <a href="{% url "order-view" order=order.pk %}"
                                           class="btn btn-primary btn-xs">
                                            View
                                        </a>
                                        <a href="{% url "order" order=order.pk %}"
                                           class="btn btn-success btn-xs">
                                            Order
                                        </a>
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url "admin:app_order_change" order.pk %}"
                                               class="btn btn-primary btn-xs">
                                                Admin
                                            </a>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <span class="label label-danger">Closed</span>
                                {% endif %}
                                {% if order.has_unpaid_user_order and not order.open %}
                                    <span class="label label-warning">Not fully paid</span>&nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:col_size and False %}
                    </div>
                    <div class="col-lg-6">
                {% endif %}
            {% endfor %}

            </div>
        <div class="col-xs-6">
            <h3>Activity feed</h3>
            {% if feed_entries %}
                <ul class="list-group">
                    {% for e in feed_entries %}
                        <li class="list-group-item">
                            <span class="event-content">{{ e.event }}</span>
                            <span class="pull-right text-muted"
                                  style="font-size: .8em">{{ e.datetime|naturaltime }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No event today, nobody's hungry..
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <a href="{% url 'home' %}?all=1">All orders</a>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        $('.event-content').each(function () {
            $(this).html($(this).text().replace(/_(.+)_/, '<strong>$1</strong>'));
        });
    </script>
{% endblock %}
