{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}
    Notifications
{% endblock %}

{% block page_title_text %}
    Set notifications to never miss a good lunch again!
{% endblock %}


{% block jumbo %}
    <h2 class="nomargin_top">Notifications</h2>
    <p>
        Set notifications and never miss a good lunch again!
    </p>
{% endblock %}
{% block content %}
    <div class="container margin_60_35">
        <div class="col-md-8 col-md-offset-2">
            <div class="box_style_2">
                <h2 class="inner">Notifications</h2>
                <div class="col-xs-9 col-xs-offset-2">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="id_providers" class="control-label">Send me a gentle email when I can place an
                                order at
                                these places</label>
                            <div class="checkbox providers">
                                {{ form.providers }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.all_providers }}
                            <label for="id_all_providers">Notify me for group orders from any place, including newly added
                                ones</label>
                        </div>
                        <div class="form-group">
                            {{ form.deliveries }}
                            <label for="id_deliveries">Notify me for deliveries</label>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success pull-right">Submit</button>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function updateInputState() {
            if ($("#id_all_providers").is(':checked')) {
                $('.providers input').attr('disabled', 'disabled');
            } else {
                $('.providers input').removeAttr('disabled');
            }
        }
        $(document).ready(function () {
            updateInputState();
            $("#id_all_providers").on('click', updateInputState)
        });
    </script>
{% endblock %}