{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
Notifications
{% endblock %}
{% block content %}
    {% for dict in formset.errors %}
        {% for error in dict.values %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for field, msg in form.errors.iteritems %}
        <div class="alert alert-danger">
            <b>{{ field }}</b>: {{ msg }}
        </div>
    {% endfor %}
    <div class="col-xs-8 col-xs-offset-2">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="id_providers" class="control-label">Send me a gentle email when I can place an order at these places</label>
                <div class="checkbox providers">
                    {{ form.providers }}
                </div>
            </div>
            <div class="form-group">
                {{ form.all_providers }}
                <label for="id_all_providers">Notify me for orders from any place, including newly added ones (aka, glutton mode)</label>
            </div>
            <div class="form-group">
                {{ form.deliveries }}
                <label for="id_deliveries">Notify me for deliveries (so you can get it while it's hot!)</label>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-success pull-right">Submit</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    function updateInputState(){
        if($("#id_all_providers").is(':checked')){
            $('.providers input').attr('disabled', 'disabled');
        } else {
            $('.providers input').removeAttr('disabled');
        }
    }
    $(document).ready(function () {
        updateInputState();
        $("#id_all_providers").on('click', updateInputState)
    });
    </script>
{% endblock  %}