{% if request.user.is_staff %}
    <span class="pull-right">
<form style="display: inline;" class="confirm-form" action="{% url "set-order-delivered" pk=order.pk %}"
      method="post">
{% csrf_token %}
    <!-- Single button -->
<div class="btn-group">
<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
Admin <span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="{% url "order-update" pk=order.pk %}" class="no-add-tooltip dropdown-item" title="Change order details">
<i class="icon-pencil"></i> Change details
</a></li>
    {% if not order.delivered %}
        <li><a href="#" onclick="$(this).closest('form').submit()" class="no-add-tooltip dropdown-item"
               title="Mark order as delivered"><i class="icon-food-1"></i> Mark delivered
</a></li>
    {% endif %}
    {% if order.userorder_set.all and order.open and not order.delivery_person %}
        <li><a href="{% url "pick-random" o=order.pk %}" class="no-add-tooltip dropdown-item"
               title="Pick a random delivery person"><i class="icon-truck"></i> Pick random delivery person
</a></li>
    {% endif %}
        </ul>
        </div>
</form>
</span>
{% endif %}
<div class="strip_list grid">
    <div class="desc">
        <a href="{% url "order-view" order=order.pk %}">
            <h3>
                {{ order.provider.name }}
            </h3>
            {% if order.provider.logo %}
                <div class="thumb_strip">
                    <img src="{{ order.provider.logo.url }}" alt=""/>
                </div>
            {% else %}
                <div class="thumb_strip">
                    <i class="icon icon-shop-1"
                       style="font-size: 70px; opacity: 0.5; vertical-align: middle"></i>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </a>
        <div class="type">
            {{ order.date }}
        </div>
        <div class="location">
            <div class="col-xs-12 text-left">
                {% if order.open %}
                    {% if order.closing_time or order.delivery_time %}
                        {% now 'd/m/Y' as cur_date %}
                        {% if order.open and order.closing_time %}
                            <span class="opening">Order before
                                <strong>{% if order.closing_time|date:"d/m/Y" != cur_date %}
                                    {{ order.closing_time|date:"D j, H:i" }}
                                {% else %}
                                    today, {{ order.closing_time|date:"H:i" }}
                                {% endif %}
                                </strong>
                                </span><br/>
                        {% endif %}
                        {% if order.open and order.delivery_time %}
                            <span class="">Expected delivery
                                <strong>{% if order.delivery_time|date:"d/m/Y" != cur_date %}
                                    {{ order.delivery_time|date:"D j, H:i" }}
                                {% else %}
                                    today, {{ order.delivery_time|date:"H:i" }}
                                {% endif %}
                                </strong>
                                </span><br/>
                        {% endif %}
                    {% endif %}
                {% endif %}
                Delivered by:
                {% if order.delivery_person %}
                    {{ order.delivery_person.username }}
                {% else %}
                    {% if order.open %}
                        you ?
                    {% endif %}
                {% endif %}
                <br/>
                Current order: {{ order.total }}€
            </div>
            <div class="clearfix"></div>
        </div>
        <div style="margin-top: 30px;">
            {% if order.open %}
                <a href="{% url "order" order=order.pk %}"
                   class="btn btn-success btn-md">
                    Order
                </a>
            {% else %}
                <span class="label label-danger">Closed</span>
                {% if order.has_unpaid_user_order %}
                    <span class="label label-warning">Not fully paid</span>&nbsp;
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>